@media screen and (max-width: 680px) {
    body {
      background-color: rgb(190, 70, 22);
    }
  }
@media screen and (min-width: 680px) and (max-width: 1280px) {
    body {
      background-color: rgb(33, 184, 211);
    }
  }
@media screen and (min-width: 1280px) {
    body {
      background-color: white;
    }
  }