div.social a {
    display: inline-block;
    height: 84px;
    width: 84px;
    box-shadow: 3px 3px 15px grey;
    margin-right: 6px;
    background-image: url('social-sprite.png');
    transition: background-position 300ms ease-out;

}

.social a:last-child {
    margin-right: 0px;
}

.facebook {
    background-position:  0px 0px ;  
  }

  .facebook:hover {
      background-position: 0 -84;
  }

.twitter {
    background-position: 252px 0px;
}

.twitter:hover {
    background-position: 252px -84px;
}
.youtube {
    background-position: 84px 0px;
}

.youtube:hover {
    background-position: 84px -84px;
}
.linkedin {
    background-position: -336px 0px;
}

.linkedin:hover {
    background-position: -336px -84px;
}
.pinterest {
    background-position: -420px 0px;
}

.pinterest:hover {
    background-position: -420px -84px;
}
.rss {
    background-position: 420px 0px;
}

.rss:hover {
    background-position: 420px -84px;
}

.skype {
    background-position: 336px 0px;
}

.skype:hover {
    background-position: 336px -84px;
}


