
/* Tous les liens */
a {
    color: pink;
}

/* Au survol d'un lien */
a:hover{
    color: yellow;
    font-size: 1.5em;
    }

/* Un lien déjà visité */
a:visited{
    color: pink;
    }

    p:hover{
        background-color: red;
        }
    p::first-letter {
        font-size: 1.8rem;
    }

    ::selection {
        background-color: yellow;
    }
    h1::before {
        content:url(ok.png);
        margin-right: 6px;
    }